<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <br/>
    <hgroup>
        <h1 class="textAlignCenter">Error</h1>
        <h2 class="textAlignCenter">An error occurred while processing your request.</h2>
    </hgroup>
    <br />
    <div class="textAlignCenter">
        @Html.ActionLink("Go to Drone Flights List", "Index", "DroneFlights", null, new { @class = "btn btn-primary btn-sm" })
    </div>
</body>
</html>
