@{
    ViewBag.Title = "Contact";
}

<br />
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tragel 60<br />
    9308 Hofstade-Aalst, Belgium<br />
    <abbr title="Phone">P:</abbr>
    +32 53 73 15 11<br />
    
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:info@jandenul.com">info@jandenul.com</a><br />
    <strong>Admin:</strong>   <a href="mailto:stephanie.goudeseune@jandenul.com">stephanie.goudeseune@jandenul.com</a><br />
</address>