
@{
    ViewBag.Title = "Error";
}

<br />
<h2>Oops!</h2>

<p class="alert alert-danger " role="alert">@ViewBag.ErrorMessage</p>

@Html.ActionLink("Go to Drone Flights List", "Index", "DroneFlights", null, new { @class = "btn btn-primary btn-sm" })
